<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greeter" class="ch02.Greeter">  <!--id: 빈 객체를 구분, class:빈 객체를 생성할때 사용하는 클래스-->
        <property name="format" value="%s, 안녕하세요!"/>
    </bean>

</beans>
